---
import type { Skill } from "@/types";
import Section from "@/components/Section.astro";

interface Props {
  skills: Skill[];
  title: string;
}

const { skills, title } = Astro.props;
---

<Section title={title}>
  <ul>
    {skills.map(({ name }) => <li>{name}</li>)}
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    li {
      border-radius: 6px;
      background-color: #eee;
      color: #222;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.2rem 0.6rem;
    }
  }
</style>
